VITE_SUPABASE_URL=https://kqitbzawrhbpyjkczvil.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxaXRiemF3cmhicHlqa2N6dmlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwODk4MDcsImV4cCI6MjA4NzY2NTgwN30.uupZWUBJpsMgtGseNEvETdD93z8YmJBTktzr7oS4m_o
